```
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/template/node_modules
/template/.pnp
template/.pnp.js
template/.yarn/install-state.gz

# testing
/template/coverage

# next.js
/template/.next/
/template/out/

# production
/template/build

# misc
/template/.DS_Store
/template/*.pem

# debug
/template/npm-debug.log*
/template/yarn-debug.log*
/template/yarn-error.log*

# local env files
/template/.env*.local

# vercel
/template/.vercel

# typescript
/template/*.tsbuildinfo
/template/next-env.d.ts
```